*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: 'nunito';
}

:root{
         /* soft tone*/
    --pale-pink: #FF007F;
    --lavender: #F8D9D6;
    --creamy-yellow: #F4F4E1;
    --mint-green: #FEFFF6;
    --sky: #f3f0f0;
         /* deeper tone*/
    --chocolate-brown: #71999c;
    --chocolate-red: #2a5c63;


}
a{
    text-decoration: none;

}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
}
.scroll::-webkit-scrollbar {
    width: 0.6rem;
    background-color: rgb(41, 41, 46);
  }
  
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--chocolate-brown);
  }
.nav-btn{
    height: 45px;
    width: 45px;
    background: var(--chocolate-red);
    color: var(--mint-green);
    border: none;
    border-radius: 3px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}
.pop-up{
    background: var(--chocolate-red);
    color: var(--mint-green);
    position: fixed;
    right: 3rem;
    display: none;
    top: 4rem;
    padding: 1rem;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.header{
    min-height: 100vh;
    background: var(--mint-green);
}
.navigation-bar{
    display: flex;
    align-items: center;
    grid-gap: 20px;
    padding: 1rem 3rem;
}
.navigation-bar h1{
    margin-right: auto;
    color: var(--chocolate-brown);
    font-size: 30px;
}
.navigation-bar ul{
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.navigation-bar ul li{
    list-style: none;
    position: relative;
}

.navigation-bar ul li a{
    text-decoration: none;
    color: var(--chocolate-brown);
    text-transform: capitalize;
    font-weight: 600;
}


/* hero section */

.hero{
    display: flex;
    align-items: center;
    grid-gap: 20px;
    padding: 10px 3rem;
}

.hero .hero-text{
    width: 50%;
}
.hero .hero-text img{
    width: 400px;
}
.hero .hero-text h1{
    font-size: 56px;
    margin-bottom: 20px;
}
.hero .hero-text h2{
    font-weight: 400;
}
.hero .hero-text h5{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero .hero-img {
   width: 30%;
   display: flex;
   align-items: center;
}

.hero .hero-img img {
    width: 550px;
}
.hero-text-btn{
    display: flex;
    align-items: center;
    grid-gap: 20px;
}
.hero-text-btn .read{
    border: 2px solid var(--chocolate-red);
    border-radius: 7px;
    padding:  3px 10px;
    height: 35px;
    width: 150px;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: .1s ease;
}
.hero-text-btn .read a{
    text-decoration: none;
}
.hero-text-btn .read:hover{
    background: var(--chocolate-red);
    border: none;
}
.hero-text-btn .read:hover a{
color: var(--creamy-yellow);
}
.hero-text-btn .order{
    border: none;
    border-radius: 7px;
    padding:  3px 10px;
    height: 35px;
    width: 150px;
    color: var(--creamy-yellow);
    background: var(--chocolate-red);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: .2s ease;
}
.hero-text-btn .order a{
    text-decoration: none;
    color: var(--creamy-yellow);
    transition: .2s ease;
}
.hero-text-btn .order a:hover{
    color: var(--chocolate-red);
}
.hero-text-btn .order:hover{
    color: var(--chocolate-red);
    background: none;
    border: 2px solid var(--chocolate-red);
}
/* end hero section */


.cakes .cakes-header{
    text-align: center;
    padding: 1.5rem 0;
}

.cakes .cakes-header h1{
    font-size: 40px;
    font-family: 'monotype corsivia';
}

.cakes .cakes-header h5{
    font-weight: 400;
    color: var(--chocolate-red);
}

.cakes-container{
    display: flex;
    align-items: center;
    grid-gap: 3rem;
    padding: 2rem 5rem;
    flex-wrap: wrap;
}

.cakes-container .cake-card{
    height: 300px;
    width: 300px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background:  var(--sky);
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    padding: 10px 10px;
    position: relative;
}

.img-box{
    margin: 0 10px;
    width: 100%;
    height: 160px;
    overflow: hidden;
    object-fit: cover;
}

.img-box img{
    width: 100%;
}
.cake-card h5 a{
    color: var(--chocolate-red);
    text-decoration: none;
    text-transform: capitalize;
}


.cake-card h4{
    color: var(--chocolate-brown);
}

.card-btn{
    display: flex;
    align-items: center;
    grid-gap: 20px;
    position: absolute;
    bottom: 15px;
}

.card-btn button{
    background: var(--chocolate-red);
    color: var(--creamy-yellow);
    border: none;
    height: 35px;
    padding: 0 10px;
    text-transform: capitalize;
    cursor: pointer;
}
.card-btn button:hover{
    background: var(--chocolate-brown);
}

/* start product page  */
.product-form form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-gap: 2rem;
    width: 100%;
    background: #ffffff;
    height: 500px;
}
.form-header{
    box-shadow: 0 10px 20px rgba(0,0,0, rgba(0, 0, 0, 0.2));
    width: 100%;
    height: 50px;
    background: var(--chocolate-red);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.form-header h1{
    color: var(--lavender);
}

.title, .price, .quantity, .product-btn, .total{
    padding: 0 3rem;
}

.title{
    font-weight: 700;
    color: var(--chocolate-brown);
    font-size: 30px;
}
.price {
    font-weight: 600;
    color: var(--chocolate-red);
}

.quantity {
    font-weight: 700;
    color: var(--chocolate-brown);
}
.quantity input{
    height: 35px;
    width: 100px;
    padding: 0 .5rem;
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--chocolate-brown) ;
}

/* start login page */

.login-container{
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 20px;
}
.login-header h1{
    font-size: 50px;
    color: var(--chocolate-red);
}

.login-header span{
    font-weight: 300;
    color: red;
}

.login-form form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-gap: 20px;
    width: auto;
}

.login-form form .form-input{
    position: relative;
}
.login-form form .form-input label{
    position: absolute;
    top: -11px;
    left: 10px;
    background: var(--mint-green);
    padding: 0 5px;
    text-transform: capitalize;
}

.login-form form .form-input input{
    height: 40px;
    width: 300px;
    background: none;
    border: 1px solid var(--chocolate-brown);
    border-radius: 3px;
    outline: none;
    padding: 0 .5rem;
}

.login-form form .form-input textarea{
    height: 100px;
    width: 300px;
    background: none;
    border: 1px solid var(--chocolate-brown);
    border-radius: 3px;
    outline: none;
    padding: 1rem .5rem;
    resize: none;
}

.login-form form input[type="submit"],
.login-form form input[type="reset"]{
    height: 40px;
    width: 300px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background: var(--chocolate-brown);
    color: var(--mint-green);
    cursor: pointer;
    transition: .2s ease;
}
.login-form form input[type="submit"]:hover,
.login-form form input[type="reset"]:hover{
    background: var(--chocolate-red);
}

/* start admin panel */
.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--chocolate-brown);
    z-index: 1000;
    padding: 1rem 0;
}
.side-bar .brand{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--creamy-yellow);
    text-align: center;
    padding: 1rem 5rem;
}

.side-bar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.side-bar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
    list-style: none;
}

.side-bar .side-menu li.active{
    background: #ffffff;
}

.side-bar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--chocolate-brown);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--creamy-yellow);
    transition: .2s;
    white-space: nowrap;
    overflow-x: hidden;
    text-decoration: none;
    padding: 0 3rem;
}
.side-bar .side-menu li a i{
    margin-right: 10px;
}
.side-bar .side-menu.top li a:hover{
    color: var(--sky);
}
.side-bar .side-menu li a.logout{
    color: var(--lavender);
}

#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}

#content main{
    width: 100%;
    padding: 36px 24px;
    height: 100%;
}

#content main .header-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content main .header-title .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--chocolate-brown);
}

#content main .header-title .btn-download{
    height: 36px;
    padding: 0 6px;
    border-radius: 36px;
    background: var(--chocolate-brown);
    color: var(--lavender);
    display: flex;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    text-decoration: none;
}

.text input{
    background: none;
    border: none;
    text-transform: capitalize;
    color: var(--creamy-yellow);
    font-size: 18px;
    cursor: pointer;
}


.customer-admin-page form table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.customer-admin-page form th,
.customer-admin-page form td {
    padding: 12px 15px;
}

.customer-admin-page form table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;

}
.customer-admin-page form table tr th{
    font-size: 16px;
    margin-bottom: 2rem;
    width: 15rem;
}

.customer-admin-page form table tbody tr {
    border-bottom: 1px solid #dddddd;
    
}

.customer-admin-page form table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.customer-admin-page form table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.customer-admin-page form table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.customer-admin-page form table tr td{
    font-weight: 300;
}
.customer-admin-page form table tr td a{
    text-decoration: none;
    background: var(--chocolate-red);
    padding: 5px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: var(--lavender);
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: .2s ease;
}

.customer-admin-page form table tr td a:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.dashboard-card{
    height: 120px;
    width: 350px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background:  var(--creamy-yellow);
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    padding: 10px 1rem;
}

.dashboard-card i{
    font-size: 30px;
    margin-right: 10px;
    color: var(--chocolate-brown);
}

.dashboard-card h1{
    text-transform: capitalize;
    font-weight: 600;
}
.dashboard-card h1 a{
    text-decoration: none;
    color: var(--chocolate-brown);
}
.dashboard-card a h1{
    color: var(--chocolate-brown);
}
.dashboard-card a{
    text-decoration: none;
    align-items: center;
    text-align: center;
}
.dashboard-card a h5{
    font-size: 45px;
    color: var(--chocolate-red);
}
.dashboard-card h5{
    font-size: 30px;
    color: var(--chocolate-red);
}

/* services page  */
.services{
    padding: 1rem 5rem;
}

.services .hero {
    height: 400px;
    width: 100%;
    background-image: url('../img/bg-cake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.services .hero h5{
    font-size: 100px;
    color: var(--sky);
    text-transform: capitalize;
    z-index: 1;
}

.services .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.services h1{
    text-align: center;
    font-size: 40px;
    color: var(--chocolate-red);
}

.services-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 3rem;
    padding: 3rem 0;
    flex-wrap: wrap;
}

.box img{
    width: 150px;
}
.box{
    height: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box button{
    position: absolute;
    bottom: 0;
    height: 35px;
    background: var(--chocolate-red);
    border: none;
    padding: 0 5px;
}

.box button a{
    text-decoration: none;
    color: var(--creamy-yellow);
}
/* end services page  */

.order-page{
    background: var(--creamy-yellow);
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.order-page .order{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-page .order a{
    text-decoration: none;
    font-size: 18px;
    color: var(--lavender);
    background: var(--chocolate-red);
    padding: 5px;
}
.order-page form{
    width: 50%;
    height: 100%;
    padding: 1rem 10rem;
}

.order-page form .form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.order-page form .form-input label{
    font-weight: 800;
}
.order-page form .form-input p{
    font-style: italic;
    color: var(--chocolate-brown);
    font-size: 12px;
}
.order-page form .form-input select, input{
    height: 35px;
    padding: 0 1rem;
    background: none;
    outline: none;
    border: 1px solid var(--chocolate-brown);
}
.order-page form .form-input textarea{
    height: 100px;
    padding: .2rem;
    background: none;
    outline: none;
    border: 1px solid var(--chocolate-brown);
    resize: none;
}
.order-page form .form-input select option{
    background: var(--chocolate-brown);
    color: var(--lavender);
}
.order-page form input[type="submit"]{
    padding: 10px;
    font-weight: 700;
    background: none;
    color: var(--chocolate-red);
    border: 1px solid var(--chocolate-red);
    cursor: pointer;
    transition: .2s;
}
.order-page form input[type="submit"]:hover{
    background: var(--chocolate-red);
    color: var(--mint-green);
}

.order-page .pricing{
    position: absolute;
    right: 35rem;
    top: 5rem;
    height: auto;
}

.order-page .pricing h1{
    width: 100%;
    text-transform: capitalize;
    background: var(--chocolate-red);
    padding: 0 2rem;
    color: var(--mint-green);
}

.order-page .pricing table{
    background: var(--mint-green);
    width: 100%;
}

.order-page .pricing table tr{
    text-align: left;
}

.payment{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(36, 30, 40, .5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment .payment-content{
    height: auto;
    background: var(--mint-green);
    padding: 10rem;
}


.payment-content a img{
    width: 300px;
}
.payment-content h1{
    font-size: 40px;
}
.payment-content h5{
    font-size: 25px;
}
.payment-content p{
    color: var(--chocolate-red);
    margin-bottom: 2rem;
}
.payment-content i{
    font-size: 40px;
    animation: moveForward 2s forwards;
    color: var(--chocolate-red);
}
@keyframes moveForward{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(600px);
        opacity: 0;
    }
}
.pay{
    background: white;
    margin: 3rem 5rem;
}